<html lang="fr">
<%- include('./partials/head.ejs') %>
<body>

<%- include('./partials/nav.ejs') %>

<div class="about content">
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eveniet ipsum magnam nihil possimus ratione repellendus sequi voluptas? Adipisci consequuntur corporis eligendi facere illo modi nam neque nisi soluta voluptate!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eveniet ipsum magnam nihil possimus ratione repellendus sequi voluptas? Adipisci consequuntur corporis eligendi facere illo modi nam neque nisi soluta voluptate!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eveniet ipsum magnam nihil possimus ratione repellendus sequi voluptas? Adipisci consequuntur corporis eligendi facere illo modi nam neque nisi soluta voluptate!</p>
</div>

<%- include('./partials/footer.ejs') %>
</body>
</html>